{% extends "base_generic.html" %}


{% block content %}
    <h1>{{ monument.name }}</h1>

    <p>name        :  {{   monument.name          }} </p>
    <p>description :  {{   monument.description   }} </p>
    <p>date        :  {{   monument.date          }} </p>
    <p>provenance  :  {{   monument.provenance    }} </p>
    <p>dimensions  :  {{   monument.dimensions    }} </p>
    <p>technique   :  {{   monument.technique     }} </p>

    <p>materials: {{  monument.materialList }} </p>
     {% for material in materials.all %}
        <p ><strong>material:</strong> {{material}}</p>
     {% endfor %}


{% endblock content %}