

{% extends "base_generic.html" %}


<script>
    $(document).ready(function() {

        // JQuery code to be added in here.
    alert("Hello! I am an alert box!!");
});

     alert("Hello! I am an alert box!!");
    $("#form").submit( function(eventObj) {
        $("<div>Test message2</div>").dialog();
        $('<input />')
          .attr('monumentList', "5")
          .attr('monumentList', "6")
          .appendTo('#form');
      return true;
  });
</script>

{% block content %}

<script>

{#  $(function(){  $('#form1').submit( function() {#}
{#      alert("Hello! I am an alert box!!");#}
{#         //alert("Hello! I am an alert box!!");#}
{#        //event.preventDefault()#}
{#        $('<input />').attr('type', 'hidden')#}
{#          .attr('value', "6")#}
{#            .attr('name',"monumentList")#}
{#          .appendTo('#form1');#}
{#      return true;#}
{#  });#}
{##}
{#    $('#post-form').on('submit', function(event){#}
{#    alert("Hello! I am an alert box!!");#}
{#    console.log("form submitted!")  // sanity check#}
{##}
{#{);#}
{#      })#}

</script>


    <form id="form1" action="" method="post" >
        {% csrf_token %}
        <ul>
            {{ form.as_ul }}

            <p>aaaaaaaaaaaaaaaaaaaaaaa</p>
        </ul>
{#        <input type="hidden" value="5" name="monumentList">#}
        <input type="submit" value="Submit" />


    </form>


{% endblock %}