

{% extends "base_generic.html" %}


{% block content %}

<script>



$(function(){ $('select').on(
  { "focus": function() {
      //console.log('clicked!', this, this.value);
      this.selectedIndex = -1;
    }
  , "change": function(monument) {
      text = $("#form_text").html();
      choice = $(this).val();
      {#///console.log('changed!', this, choice);#}
      {#this.blur();#}
      {#setTimeout(function() { alert('Chose '+ choice); }, 0);#}

          {#$('#monuments').append('<p>'+monument+'<\p>');#}
          {#$('<input />').attr('type', 'hidden').attr('name', 'monumnent').attr('value', choice).appendTo('#monuments')#}
          {#$('#monuments').append(text);#}

        $('<input />').attr('type', 'hidden').attr('name', 'action').attr('value', 'add').appendTo('form#form1')
        $('form#form1').submit();
    }
  });



})

</script>

<script id="form_text" type="text/plain">
{{ researchForm }}
</script>

{#############################################################}


    <form id="form1" action="" method="post" >
        {% csrf_token %}
        <ul>
            {{ projectForm.as_ul }}
        </ul>
{#         <ul>#}
{#            {{ researchFormSet.as_ul }}#}
{#        </ul>#}


    <p>number of forms : {{researchFormSet|length  }}</p>
        {{ researchFormSet.management_form }}
    <table>
        {% for form in researchFormSet %}
            {{ form.DELETE.value  }}
            {% if   not form.DELETE.value or  form.DELETE.value is Null %}
                {{ form }}
                <p>test</p>
                {{ form.monument  }}
            {% endif %}




        {% endfor %}

    </table>








{#        <input type="hidden" value="5" name="monumentList">#}
{#        <a href="">Add monument</a>#}
{##}
        <select>
         {% for monument in monuments %}
                <option value='{{ monument.id }}'> {{ monument.name}} </option>
         {% endfor %}
        </select>
{##}
{##}
{##}
{#        <div id="monuments">#}
{##}
{#        </div>#}
        <input type="submit" value="submit" action="submit" />

    </form>


{% endblock %}