{% extends "base_generic.html" %}

{% block sidebar %}
  <ul class="sidebar-nav">
    <li><a href="{% url 'index_new' %}">Home</a></li>
    <li><a href="{% url 'restorerAdd' %}">restorer add</a></li>
    <li><a href="{% url 'restorerList' %}">restorer list</a></li>
  </ul>
{% endblock sidebar %}


{% block content %}
    <h1>Restorer List</h1>

    {% if restorer_list %}
    <ul>

      {% for restorer in restorer_list %}
      <li>
        {{  restorer }}   <a href="{% url 'restorerDel' restorer.restorer_id %}"> Del</a>
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}

