{% extends "base.html" %}

{% block sidebar %}
  <ul class="sidebar-nav">
    <li><a href="{% url 'materialListCreate' %}">materialList add</a></li>
    <li><a href="{% url 'materialListList' %}">materialList list</a></li>
  </ul>
{% endblock sidebar %}


{% block content %}
    <h1>Restorer List</h1>

    {% if materiallist_list %}
    <ul>

      {% for materiallist in materiallist_list %}
      <li>
        <a href="{% url 'materialListDetail' materiallist.id %}"> {{  materiallist }}</a>
          <a href="{% url 'materialListDelete' materiallist.id %}"> Del</a>
            <a href="{% url 'materialListUpdate' materiallist.id %}"> Update</a>
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}

