{% extends "base.html" %}
{% block css_style %}
    <style>
        #nav-tab-research {
            background-color: #ccc;
        }
    </style>
{% endblock %}

{% block sidebar %}
  <ul class="sidebar-nav  flex-column">
    <li class="list"><a href="{% url 'researchList' %}">List</a></li>
    <li class="filter"><a href="{% url 'researchFilter' %}">Filter</a></li>
    <li class="add"><a href="{% url 'researchCreate' %}">Add</a></li>
{#    <li><a href="{% url 'res' %}">Add research</a></li>#}
  </ul>
{% endblock sidebar %}


