{# tutorial/templates/people.html #}
{% load render_table from django_tables2 %}
{% load static %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
    </head>
    <body>
        {% render_table restorerList %}

     <div class="tab_container">
      <ul class="tabs">
    		<li class="tab-link current_tab" data-tab="add"><a href="de/restorer" >Restauratori</a></li>
    		<li class="tab-link" data-tab="remove"><a href="" >Pamiatky</li>
    		<li class="tab-link" data-tab="project"><a href="" >Projekty</li>
    	</ul>
    </div>
    </body>
</html>