{% extends "catalogWeb/person/person_base.html" %}

{#{% block sidebar %}#}
{#    <ul class="sidebar-nav  flex-column">#}
{#        <li><a href="{% url 'personList' %}">List people</a></li>#}
{#        <li><a href="{% url 'personCreate' %}">Add person</a></li>#}
{#    <li><a href="{% url 'res' %}">Add person</a></li>#}
{#    </ul>#}
{#{% endblock sidebar %}#}
{% block css_style %}
    {{ block.super }}

    <style>
        .filter {
            background-color: #ccc;
        }
    </style>
{% endblock %}


{% block content %}
    {% load django_tables2 %}
    {% load bootstrap3 %}
    {#    <h1>People List</h1>#}
    <form class="filter_form" action="" method="get">
        {#        {{ filter.form.as_p }}#}
        {#        <input type="submit"/>#}
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>

    {#        <ul>#}
    {##}
    {#            {% for person in filter.qs %}#}
    {#                <li>#}
    {#                    <a href="{% url 'personDetail' person.id %}"> {{ person }}</a>#}
    {#                    <a href="{% url 'personDelete' person.id %}"> Del</a>#}
    {#                    <a href="{% url 'personUpdate' person.id %}"> Update</a>#}
    {#                </li>#}
    {#            {% empty %}#}
    {#                <p>No people in list</p>#}
    {#            {% endfor %}#}
    {##}
    {#        </ul>#}
    {% render_table table 'django_tables2/bootstrap.html' %}
{% endblock %}

