{#{% extends "base_generic.html" %}#}
{% extends "catalogWeb/person/person_list.html" %}

{% block content %}
{##}
{#    <style>#}
{#        .add  { background-color: #ccc;#}
{#        }#}
{#    </style>#}
{#<form action="" method="post" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#    <table>#}
{#    {{ form.as_table }}#}
{##}
{#    {{ person_form.as_table }}#}
{#    {{ album_form.as_table }}#}
{##}
{#    {{ album_formset }}#}
{#    </table>#}
{#    <input type="submit" value="Submit" />#}
{##}
{#</form>#}

    {% include "catalogWeb/generic/form_album_template.html" %}
{% endblock %}