{% extends "base.html" %}

{% block sidebar %}
  <ul class="sidebar-nav">
{#    <li><a href="{% url 'imageCreate' %}">image add</a></li>#}
{#    <li><a href="{% url 'imageList' %}">image list</a></li>#}
  </ul>
{% endblock sidebar %}


{% block content %}
    <h1>Image List</h1>

    {% if image_list %}
    <ul>

      {% for image in image_list %}
      <li>
        <a href="{% url 'image2Detail' image.id %}"> {{  image }}</a>
{#          <a href="{% url 'imageDelete' image.id %}"> Del</a>#}
{#            <a href="{% url 'imageUpdate' image.id %}"> Update</a>#}
{#      <a href=""> {{  image }}</a>#}
{#          <a href=""> Del</a>#}
{#            <a href=""> Update</a>#}
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>There are no images in the image.</p>
    {% endif %}
{% endblock %}

