{% extends "base.html" %}

{% block sidebar %}
  <ul class="sidebar-nav">
{#    <li><a href="{% url 'imageCreate' %}">image add</a></li>#}
{#    <li><a href="{% url 'imageList' %}">image list</a></li>#}
  </ul>
{% endblock sidebar %}


{% block content %}
    <h1>Test  List</h1>

    {% if object_list %}
    <ul>

      {% for object in object_list %}
      <li>
        <a href="{% url 'test_detail' object.id %}"> {{  object }}</a>
{#          <a href="{% url 'objectDelete' object.id %}"> Del</a>#}
{#            <a href="{% url 'objectUpdate' object.id %}"> Update</a>#}
{#      <a href=""> {{  object }}</a>#}
{#          <a href=""> Del</a>#}
{#            <a href=""> Update</a>#}
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>There are no objects in the object.</p>
    {% endif %}
{% endblock %}

