{% extends "base_generic.html" %}

{% block sidebar %}
  <ul class="sidebar-nav">
    <li><a href="{% url 'imageCreate' %}">picture add</a></li>
    <li><a href="{% url 'imageList' %}">picture list</a></li>
  </ul>
{% endblock sidebar %}


{% block content %}
    <h1>Album List</h1>

    {% if album_list %}
    <ul>

      {% for album in album_list %}
      <li>
                  <a href="{% url 'albumDetail' album.id %}"> {{  album }}</a>
{#          <a href="{% url 'albumDetail' album.id %}"> {{  album }}</a>#}
{#          <a href="{% url 'albumDelete' album.id %}"> Del</a>#}
          <a href="{% url 'album_edit1' album.id %}"> Update</a>
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>There are no albums</p>
    {% endif %}
{% endblock %}

