{#{% extends "base_generic.html" %}#}
{##}
{#{% block content %}#}
{#<script>#}
{#$('#form_ajax').ready(function() {#}
{#      alert("Hello! I am an alert box!!");#}
{##}
{#      $.ajax({ data: $(this).serialize(),#}
{#                type: $(this).attr('method'),#}
{#                url: $(this).attr('action'),#}
{#                success: function(response) {#}
{#                     console.log(response);#}
{#                     if(response['success']) {#}
{#                         $("#feedbackmessage").html("<div class='alert alert-success'> Succesfully sent feedback, thank you!</div>");#}
{#                         $("#feedbackform").addClass("hidden");#}
{#                     }#}
{#                     if(response['error']) {#}
{#                         $("#feedbackmessage").html("<div class='alert alert-danger'>" +#}
{#			                   response['error']['comment'] +"</div>");#}
{#                     }#}
{#                },#}
{#                error: function (request, status, error) {#}
{#                     console.log(request.responseText);#}
{#                }#}
{#       });#}
{#});#}
{#</script>#}
{#<form action="" method="post" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#    <table>#}




        {{ album_formset }}

        {{ album_form.as_table }}

{#        <select multiple>#}
{#            {% for material in materials %}#}
{#                <option></option>#}
{#            {% endfor %}#}
{#        </select>#}
{##}
{#    </table>#}
{#    <input type="submit" value="Submit" />#}
{##}
{#</form>#}
{##}
{#    <form id="form_ajax">#}
{##}
{#    </form>#}
{##}
{#    <a href="{% url 'materialListCreate' %}">  Add Materiallist</a>#}
{#{% endblock %}#}