
    <script>
        var initial = 'True'
        post_form = function(event) {
            console.log('post_form() js');
            {#event.preventDefault();#}
            var ajax_form_data = new FormData( $("#form_ajax")[0] );
            ajax_form_data.append('initial', initial)
            $("#id_pictures").serialize();
            $.ajax({
                contentType: false,
                processData: false,
                data: ajax_form_data,
                {#method: $(this).attr('method'),#}
                method: 'POST',
                url: '{% url 'album_edit' album_id %}',
                success: function (response) {

                    console.log(response);
                    if (response['success']) {
                        initial = 'False'
                        $("#form_ajax_table").html(response['album_ajax_form']);
                        $("#form_ajax").attr("method", "POST");
                    }
                    if (response['error']) {
                        $("#feedbackmessage").html("<div class='alert alert-danger'>" +
                            response['error']['comment'] + "</div>");
                    }
                },
                error: function (request, status, error) {
                    console.log(request.responseText);
                }
            });
        }

        load_form = function() {
            console.log('load_form() js');
            $.ajax({
                contentType: false,
                processData: false,
                method: 'GET',
                url: '{% url 'album_edit' album_id %}',
                success: function (response) {

                    console.log(response);
                    if (response['success']) {
                        initial = 'False'
                        $("#form_ajax_table").html(response['album_ajax_form']);
                        $("#form_ajax").attr("method", "POST");
                    }
                    if (response['error']) {
                        $("#feedbackmessage").html("<div class='alert alert-danger'>" +
                            response['error']['comment'] + "</div>");
                    }
                },
                error: function (request, status, error) {
                    console.log(request.responseText);
                }
            });
        }


        $(function() {
            $(".album_submit").click(post_form)
            {#$("").submit(post_form)#}
            {#$("#form_ajax [ id *= 'DELETE']").click(post_form)#}
            {#$("#form_ajax #id_pictures").change(post_form)#}

            {#$("#form_ajax").click(post_form)#}
            $("#form_ajax").on('change',"#id_pictures",post_form)
            $("#form_ajax").on('change',"[ id *= 'DELETE']",post_form)
            load_form()
        });
    </script>

    <div id="album_container">
        <form id="form_ajax" action="{% url 'album_edit' album_id %}" method="get" enctype="multipart/form-data" >
            {% csrf_token %}
                <table id="form_ajax_table">
                </table>
{#            <input type="submit" value="Submit ajaxXx" />#}
        </form>
    </div>
{#<span>{{ request.path }}</span>#}
