
<script>
var initial = 'True'
fn = function() {
    event.preventDefault();
    var data0 = $("#form_ajax").serialize();
    var data1 = new FormData( $("#form_ajax")[0] );
    var data2 = new FormData($("#form_ajax").get(0));
    data1.append('initial', initial)
    for (var pair of data1.entries()) {
    console.log(pair[0]+ ', ' + pair[1]);
}
    $("#id_pictures").serialize();
    $.ajax({
        contentType: false,
        processData: false,
        data: data1,
        {#method: $(this).attr('method'),#}
        method: 'POST',
        url: $(this).attr('action'),
        success: function (response) {

            console.log(response);
            if (response['success']) {
                initial = 'False'
                $("#form_ajax_table").html(response['album_form']);
                $("#form_ajax").attr("method", "POST");
            }
            if (response['error']) {
                $("#feedbackmessage").html("<div class='alert alert-danger'>" +
                    response['error']['comment'] + "</div>");
            }
        },
        error: function (request, status, error) {
            console.log(request.responseText);
        }
    });
}

{#$('#form_ajax').ready(fn);#}

{#$("input#dwnld").click(fn)#}

$(function() {
    {#document.getElementById("dwnld").addEventListener("click", fn)#}
    {#$().on('click', '#dwnld', fn)#}
    {#$("#dwnld").click(fn)#}
    $("#form_ajax").ready(fn)
    $("#form_ajax").submit(fn)
});
</script>

{#<form id="form_1" action="" method="post" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#    <table>#}
{#        {{ album_formset }}#}
{#        {{ album_form.as_table }}#}
{##}
{#    </table>#}
{#    <input type="submit" value="Submit" />#}
{#</form>#}

<form id="form_ajax" action="{% url 'album_edit' 21 %}" method="get" enctype="multipart/form-data" >
{#    {% csrf_token %}#}
{#    <input id="initial" name="initial" type="hidden" value="True">#}
    <table id="form_ajax_table">

    </table>
<input type="submit" value="Submit ajax" />
</form>


{#    <form id="form_1" action="" method="post" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#    <table>#}
{#        {{ album_formset }}#}
{#        {{ album_form.as_table }}#}
{##}
{#    </table>#}
{#    <input type="submit" value="Submit" />#}
{#</form>#}


<form id="picture"  enctype="multipart/form-data" >
{#    {% csrf_token %}#}
    {#    <input id="initial" name="initial" type="hidden" value="True">#}
    <input type="submit" value="Submit ajax" />
</form>
