{% extends "base_generic.html" %}

{% block content %}

    <form id="form_1" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ image_formset }}
            {{ album_form }}
{#            <tr>#}
{#                <th><label for="pictures">Pictures:</label></th>#}
{#                <td><input type="file" name="picture" multiple accept="image/*"></td>#}
{#            </tr>#}

        </table>
{#        <input type="submit" value="Submit"/>#}

    </form>
    <input type="submit" form="form_1"/>
        {% if request.session.back_url %}
        <a href="{{ request.session.back_url }}">
            <button>Back</button>
        </a>
        {% endif %}
{% endblock %}


