{% extends "base_generic.html" %}

{% block content %}

<script>
    $(function(){
        var monuments_slected = [];

        $('#monument_select').on({
            "focus": function() {
                this.selectedIndex = -1
                },
            "change": function() {
                choice = $(this).val();
                monuments_slected.push(choice);
                $('<input />').attr('type', 'hidden').attr('name', 'monumentList').attr('value', choice).appendTo('form#form1')
                $("#monuments").append("<p>Monument " +choice+"</p>")}
            });

        $( "#form1" ).submit(function( event ) {
                {##}
                $('<input />').attr('type', 'hidden').attr('name', 'monumentListJSON').attr('value', monumentListJSON).appendTo('form#form1')
            });

})
</script>


{#############################################################}

<form id="form1" action="" method="post" >
    {% csrf_token %}
    <ul>
        {{ projectForm.as_ul }}
    </ul>
    <div id="monuments">
        <select id="monument_select" >
         {% for monument in monuments %}
                <option value='{{ monument.id }}'> {{ monument.name}} </option>
         {% endfor %}
        </select>
    </div>
    <input type="submit" value="submit" action="submit" />
</form>
{% endblock %}