{% extends "base_generic.html" %}

{% block content %}

{#<script>#}
{#    $(function(){#}
{#        var monuments_slected = [];#}
{##}
{#        $('#monument_select').on({#}
{#            "focus": function() {#}
{#                this.selectedIndex = -1#}
{#                },#}
{#            "change": function() {#}
{#                choice = $(this).val();#}
{#                monuments_slected.push(choice);#}
{#                $('<input />').attr('type', 'hidden').attr('name', 'monumentList').attr('value', choice).appendTo('form#form1')#}
{#                $("#monuments").append("<p>Monument " +choice+"</p>")}#}
{#            });#}
{#    })#}
{#</script>#}

{% load static %}
<script src="{% static 'catalogWeb/scripts/ajax_submit.js' %}"></script>

{#############################################################}

<form id="form1" action="{{ request.path }}" method="post" >
    {% csrf_token %}
{#    <ul>#}
{#        {{ project_form.as_ul }}#}
{#    </ul>#}
{#    <div id="monuments">#}
{#        <select id="monument_select" >#}
{#         {% for monument in monuments %}#}
{#                <option value='{{ monument.id }}'> {{ monument.name}} </option>#}
{#         {% endfor %}#}
{#        </select>#}
{#    </div>#}
{#    <input type="submit" value="submit" action="submit" />#}
{{ project_form.non_field_errors }}
{#    <div class="fieldWrapper">#}
{#        {{ project_form.name.errors }}#}
{#        {{ project_form.name.label_tag }}#}
{#        {{ project_form.name }}#}
{#    </div>#}
{##}
{#    <div class="fieldWrapper">#}
{#        {{ project_form.garant.errors }}#}
{#        {{ project_form.garant.label_tag }}#}
{#        {{ project_form.garant }}#}
{#    </div>#}
{##}
{#    <div class="fieldWrapper">#}
{#        {{ project_form.description.errors }}#}
{#        {{ project_form.description.label_tag }}#}
{#        {{ project_form.description }}#}
{#    </div>#}
{##}
{#    <div class="fieldWrapper">#}
{#        {{ project_form.realized_by.errors }}#}
{#        {{ project_form.realized_by.label_tag }}#}
{#        {{ project_form.realized_by }}#}
{#    </div>#}
{##}
{#    <div class="fieldWrapper">#}
{#        {{ project_form.realized_for.errors }}#}
{#        {{ project_form.realized_for.label_tag }}#}
{#        {{ project_form.realized_for }}#}
{#    </div>#}
{##}
{#    <div class="fieldWrapper">#}
{#        {{ project_form.restorerList.errors }}#}
{#        {{ project_form.restorerList.label_tag }}#}
{#        {{ project_form.restorerList }}#}
{#    </div>#}
{##}
{#    <div class="fieldWrapper">#}
{#        {{ project_form.monument_list.errors }}#}
{#        {{ project_form.monument_list.label_tag }}#}
{#        {{ project_form.monument_list }}#}
{#    </div>#}

<div id="form_data">
    {{ project_form.as_ul }}
</div>

    {% if project_form.instance.id is not None %}
        <p>Research:</p>
        <ul>
        {% for research in project_form.instance.research_set.all  %}
            <li>
             <a href="{% url 'researchDetail' research.id %}?redirect_to={{ request.path }}"> {{  research }}</a>
             <a href="{% url 'researchDelete' research.id %}?redirect_to={{ request.path }}"> Del</a>
             <a href="{% url 'researchUpdate' research.id %}?redirect_to={{ request.path }}"> Update</a>
            </li>
        {% endfor %}
        </ul>
        <a class="ajax_submit" href="{% url 'researchCreate' project_id=project_form.instance.id %}?redirect_to={{ request.path }}">Add research</a>

    {% endif %}
<input type="submit" value="Submit" />
</form>
{% endblock %}
